<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karshin Uppal:About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,500&display=swap');
</style>
</head>
<body class="work-body" >
<div class="container">
    <div class="nav-left">
        <div class="nav-left-item">
            <a href="/" class="nav-left-link">HOME</a>
        </div>
        <div class="nav-line"></div>
    </div>

    <div class="wrapper">
        <div class="section-left section-long">
            <div class="content">
                <img src="/static/karshin.jpg" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" alt="Karshin Uppal " class="profile-img" title="">
                <div class="header-mask">
                    <h1 class="header header-large align-left" style="transform: translate3d(0px, -2vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">About</h1>
                </div>
                <p class="description-static description-long">
                    <span class="quote">Hi! I'm Karshin. <br></span>
                    <br>A passionate and dedicated B.Tech(Computer Science and Engineering) graduate with a strong foundation in both theoretical knowledge and practical application. My journey into the world of technology has been an exhilarating one, filled with countless hours of coding, problem-solving, and continuous learning.<br><br>My approach to technology is driven by an insatiable curiosity. I'm constantly seeking opportunities to expand my skill set and stay updated with the latest industry trends. I relish challenges, as they provide me with chances to push my boundaries and learn something new.<br>
                    I thrive in collaborative environments. I believe that effective communication and teamwork are essential to transforming ideas into tangible solutions. I'm always eager to share my knowledge and insights, while also being receptive to the ideas of others.<br><br>
                    <span class="quote">Future Aspirations</span>
                    <br>Looking ahead, I aspire to contribute my skills to projects that make a real-world impact. Whether it's developing software that simplifies everyday tasks or being part of groundbreaking technological advancements, I'm excited about the opportunities that lie ahead.
                    <br>In a nutshell, I'm a proactive, adaptable, and enthusiastic individual who is committed to leveraging technology to drive innovation. If you're looking for a dedicated team member who can bring a strong technical skill set and a passion for problem-solving to the table, I'd love to connect!
                    Feel free to reach out to me at: <a href="/contact" class="link">Karshin uppal.</a><br><br>
                    <span class="header"><br>Skills</span>
                    <br>
                    <br>- Python Programming<br>- C++,C Programming<br>- Data Structures<br>- Algorithms<br>- HTML<br>- CSS<br>- Django <br>- MySQL<br>- Github<br>- Canva<br>- Microsoft Office<br><br>
                <a href="https://drive.google.com/file/d/1cq_0KOEMyNtSlaZG5qjo0g5zlIWRou9g/view?usp=sharing" target="_blank" class="button w-button">My CV</a>
            </div>
        </div>
    </div>


</div>
</body>
</html>
