<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karshin Uppal:Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,500&display=swap');
</style>
</head>
<body class="work-body" >
<div class="container">
    <div class="nav-left">
        <div class="nav-left-item">
            <a href="/" class="nav-left-link">HOME</a>
        </div>
        <div class="nav-line"></div>
        <div class="nav-left-item nav-copyright">
            <div class="copyright">Ref: Lauren Waller</div>
        </div>
    </div>

    <div class="wrapper">
        <div class="section-left">
            <div class="content">
                <div class="header-mask">
                    <h1 class="header header-large align-left" style="transform: translate3d(0px, -2vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">Hello.</h1>
                </div>
                <div class="description-mask">
                    <p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="description">Connecting Starts Here: Reach Out and Say Hello!

                        <a href="https://forms.gle/1YAyDvxrKjayzvZy7" target="_blank" class="link is-pink"></a>
                        <br><br>Email: <a href="mailto:uppalkarshin@gmail.com" class="link is-pink">uppalkarshin@gmail.com</a>
                        <br>On the Internet: <a href="https://www.linkedin.com/in/karshin-uppal" class="link is-pink">LinkedIn</a> /
                        <a href="https://github.com/karshinuppal" class="link is-pink">Github</a><br></p>
                </div>
            </div>
        </div>

        <div class="section-right">
            <div class="container1">
                <form method="post" action="/contact" class="form">
                    {% csrf_token %}
                    <div class="descr">Contact</div>
                    <div class="input">
                        <input required="" autocomplete="off" name="name" type="text">
                        <label for="name">Name</label>
                    </div>
                    <div class="input">
                        <input required="" autocomplete="off" name="email" type="text">
                        <label for="email">E-mail</label>
                    </div>
                    <div class="input">
                        <textarea required="" cols="30" rows="1" id="message" name="desc"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <button>Send message →</button>
                </form>
            </div>

        </div>
    </div>


</div>
</body>
</html>
