<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karshin Uppal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,500&display=swap');
</style>
</head>
<body>

<div class="container">
    <div class="nav-left">
        <div class="nav-left-item">
            <a href="https://www.linkedin.com/in/karshin-uppal" class="nav-left-link">LI</a>
        </div>
        <div class="nav-left-item">
            <a href="https://leetcode.com/karshin/" class="nav-left-link">LC</a>
        </div>
        <div class="nav-left-item">
            <a href="https://github.com/karshinuppal" class="nav-left-link">GH</a>
        </div>
        <div class="nav-line"></div>
<!--        <div class="nav-left-item nav-copyright">-->
<!--            <div class="copyright"></div>-->
<!--        </div>-->
    </div>

    <div class="wrapper w-clearfix">
        <div class="section-left">
            <div class="content content-main">
                <div class="header-mask">
                    <h1 style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="header swipe-up">Karshin Uppal</h1>
                </div>
                <div class="description-mask">
                    <p style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="description">Python Programming / Data Structures and Algorithms / Web Developer.<br></p>
                </div>
            </div>
        </div>
        <div class="section-right">
            <div class="nav">
                <div style="opacity: 1; filter: blur(0px);" class="nav-item">
                    <a  href="/about" class="nav-link">ABOUT</a>
                    <div class="nav-underline"></div>
                </div>
                <div style="opacity: 1; filter: blur(0px);" class="nav-item">
                    <a href="/skills" class="nav-link">SKILLS</a>
                    <div class="nav-underline"></div>
                </div><div style="opacity: 1; filter: blur(0px);" class="nav-item">
                <a href="/work" class="nav-link">WORK</a>
                <div class="nav-underline"></div>
            </div>
                <div style="opacity: 1; filter: blur(0px);" class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                    <div class="nav-underline"></div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
