<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karshin Uppal:Skills</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'skills.css' %}">
    <style>
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,500&display=swap');
</style>
</head>
<body class="work-body" >
<div class="container">
    <div class="nav-left">
        <div class="nav-left-item">
            <a href="/" class="nav-left-link">HOME</a>
        </div>
        <div class="nav-line"></div>
    </div>
    <div class="wrapper w-clearfix">

        <div class="section-left">
            <div class="content content-main">
                <div class="header-mask">
                    <h1 style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="header swipe-up">SKILLS</h1>
                </div>
            </div>
        </div>

        <div class="section-right">
            <div class="nav">
                <div style="opacity: 1; filter: blur(0px);" class="nav-item">
                    <p class="para" >Python<br>C++/C<br>Data Structure<br>Algorithm<br>Html<br>Css<br>Django
                        <br>MySQL<br>Github<br>Microsoft Office<br>Canva</p>
                </div>
            </div>
        </div>
    </div>



</div>
</body>
</html>
